body{
    background-color: #F8F0E5;
}
#fcontainer{
    margin-top: 10rem;
}
ul>li{
    list-style:none;
}
#container-bg{
    background-color: #EADBC8;
    color:#102C57;
    font-size: large;
    align-items: center;
    font-weight: 500;
}
#submit-button{
    font-size: large;
    font-weight: 660;
    color: white;
    background-color: #102C57;
}
#submit-button:hover{
    font-size: large;
    font-weight: 660;
    color:  #102C57;
    background-color:#F8F0E5;
}
.question{
    display: inline;
}
#display{
    display: none;
}
a{
    text-decoration: none;
    color: white;
}

